.TodoItem{
    font-family: 'Helvatica Neue',
    Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    border-bottom: 1px solid #eee;
    color: #d5dfe1;
    display: flex;
    margin: 15px;
}
.TodoItem > img:first-child {
    margin-right: 10px;
    width: 32px;
}
.TodoItem > P {
    width: 350px;
    word-wrap: break-word;
}
.TodoItem > p:first-child {
    margin: 0;
    padding: 10px;
}

.TodoItem-Complete > p{
    text-decoration: line-through;
    opacity: 0.3;
}
.TodoItem > img:last-child{
    width: 32px;
    text-align: right;
    margin-left: 50px;
}
